@function size($px) {
    @return $px / 2;
}


.first {
    width           : 100%;
    height          : 100%;
    background-image: url(../../assets/images/b1-bg.png);
    background-size: cover;
    color           : #fff;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    flex-direction  : column;

    .first_title {
        height: size(209px);
        width: size(568px);
    }

    .first_p {
        width                : size(688px);
        height               : size(200px);
        background-color: rgba(0,0,0,0.45);
        display: flex;
        justify-content: center;
        align-items: center;

        .first_p1 {
            font-size    : size(36px);
        }
    }
}