.midres {
  height: 100%;
  background-image: url("./assets/bg.png");
  background-size: cover;
  position: relative;
}

.midres .midres_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midres .midres_header .midres_tit {
  height: 28px;
  font-size: 15px;
  color: #000000;
  margin-top: 14px;
  margin-bottom: -9px;
}

.midres .midres_content {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midres .midres_content .midres_con {
  margin-top: -25px;
}

.midres .midres_content .midres_con .midres_con_one {
  margin-bottom: 8px;
}

.midres .midres_footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
