@function size($px){
    @return $px / 2;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.playing{
    height: 100%;
    width: 100%;
    background-image: url('./assets/bg.png');
    background-size: cover;
    .playing_header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .playing_tit{
            height     : size(56px);
            font-size  : size(37px);
            line-height: size(56px);
            color      : #000000;
            margin-top: size(28px);
            
        }
    }
    .playing_content{
        height: 470px;
        @include flex-column();
        .playing_con{
            margin-top: -54px;
        .playing_con_one{
            margin-bottom: size(16px);
            color: #000;
            align-self: center;
            .playing_span1{
                margin-right: 10px;
            }
        }
    }
    }
    .playing_footer{
        color           : #fff;
        font-size       : size(26px);
        width           : 343px;
        height          : 44px;
        line-height     : 44px;
        border-radius   : size(8px);
        background-color: #f1574f;
        cursor          : pointer;
        position        : absolute;
        bottom          : size(16px);
        left: 50%;
        transform: translateX(-50%);
       
    }
}