@charset "UTF-8";
@import "partial/base";
@import "partial/flex";

@font-face {
    font-family: "PingFangSC Light";
    src        : url('../../PingFangSCRegular.ttf');
}
html,
body {
    position: relative;
    font-family: "PingFangSC Light","微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background:transparent;
    overflow-x:hidden;
}

#root, #aroot{
    text-align:center;
    position: relative;
    height: 100%;
    width: 100%;
}
