@function size($px) {
    @return $px / 2;
}

@mixin flex-row {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}

@mixin flex-column {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}
.endrank {
    @include flex-row();
    .endrank_header{
        @include flex-row();
        height: size(40px);
        line-height: size(40px);
        text-align: center;
        color: #fff;
        font-size: size(22px);
        margin-bottom: size(16px);
        cursor: pointer;
        .header_t{
            width: size(128px);
            background-color: #4355ff;
            border-radius: size(8px);
            margin-right: size(-4px);
            
        }
        .header_f{
            width: size(128px);
            background-color: #2b2b2b;
            border-radius: size(8px);
            margin-left: size(-4px);
        }
    }
    .endrank_container{
        @include flex-column();
    .endrank_con{
        width: size(600px);
        height: size(494px);
        border-radius: size(8px);
        color: #ffffff;
        background-color : rgba(0, 0, 0, 0.5);
    .endrank_false_list{
        height: size(66px);
        line-height: size(66px);
        text-align: center;
    }
    .endrank_con_list {
        font-size     : size(22px);
        display       : flex;
        flex-direction: row;
        align-items   : center;
        height        : size(66px);
        padding-top: size(16px);
        padding-bottom: size(16px);
        
        .endrank_list_index{
            height: size(50px);
            line-height: size(50px);
            font-size: size(24px);
            margin-left: size(36px);
        }
        .avatar {
            margin-left: size(20px);
            margin-right: size(10px);
            display    : inline;
            .ava_img {
                width : size(50px);
                height: size(50px);
                border-radius: 50%;
            }
        }

        .list_name {
            width        : size(260px);
            margin-left  : size(12px);
            text-overflow: ellipsis;
            white-space  : nowrap;
            overflow     : hidden;
            height       : size(32px);
            line-height  : size(32px);
            text-align: left;
        }
        .list_time {
            width: size(150px);
            margin-left: size(80px);
        }
    }
    }
    
}
.endrank_btn {
    width      : size(48px);
    height     : size(48px);
    border     : 0;
    margin-left: size(12px);
    margin-top: size(56px);
    cursor     : pointer;
}
}
