@mixin flex-row {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}

@mixin flex-column {
    display       : flex;
    flex-direction: column;
}

@function size($px) {
    @return $px / 2;
}


.eres{
    @include flex-column();
    width: 100%;
    height: 100%;
    color:#fff;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    .eres_tit{
        color: #000;
        margin-top: size(24px);
        font-size: size(38px);
    }
    .eres_img{
        zoom: 0.5;
    }
  
    .eres_res {
    color: #000;
    height: size(148px);
    width: size(600px);
    border-top: 4px solid rgba(0,0,0,0.5);
    border-bottom: 4px solid rgba(0,0,0,0.5);
    @include flex-row();

    .eres_res_one {
        width: size(300px);
        @include flex-column();
        justify-content: center;
        align-items: center;
        font-size: size(36px);
        .eres_font {
            font-size: size(50px);
            color: #fff;
            -webkit-text-stroke: size(3px) black;
        }
    }
} 
.eres_erank{
    margin-left: size(60px);
    margin-bottom: size(16px);
}  
     .eres_btn {
     color           : #fff;
     font-size       : 13px;
     width           : 343px;
     height          : 44px;
     line-height     : 44px;
     border-radius   : 8px;
     background-color: #f1574f;
     cursor          : pointer;
     margin-bottom: size(10px);
 }
}