@mixin flex-row {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}
@mixin flex-column {
    display        : flex;
    flex-direction : column;
}

@function size($px) {
    @return $px / 2;
}

.result {
    height: 100%;
    background-image: url('./assets/bg.png');
    background-size: cover;
    @include flex-column();
     justify-content: space-between;
    align-items    : center;
    .result_header{
        height: size(48px);
        width: 375px;
        margin-top: size(16px);
        position: relative;
        .result_header_index{
            font-size: size(30px);
            text-align: left;
            height: size(48px);
            line-height: size(48px);
            width: 60px;
            position: absolute;
            left: size(36px);
        }
        .result_header_tit{
            font-size: size(30px);
            width: size(412px);
            height: size(48px);
            line-height: size(48px);
            background-color: #2b2b2b;
            border-radius: size(8px);
            color: #fff;
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
    .result_header_f {
    height: size(120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .result_header1 {
        height    : size(48px);
        width     : 375px;
        margin-top: size(16px);
        position  : relative;

        .result_header_index {
            font-size : size(30px);
            text-align: left;
            width     : 60px;
            height: size(48px);
            line-height: size(48px);
            position  : absolute;
            left      : size(36px);
        }

        .result_header_tit {
            font-size       : size(30px);
            width           : size(412px);
            height: size(48px);
            line-height: size(48px);
            background-color: #000000;
            border-radius   : size(8px);
            color           : #fff;
            display         : inline-block;
            position        : absolute;
            left            : 50%;
            top             : 0;
            transform       : translateX(-50%);
        }

    }

    .result_header2 {
        height    : size(48px);
        width     : 375px;
        position  : relative;

        .result_header_index2 {
            font-size : size(30px);
            text-align: left;
            width     : 60px;
            height: size(48px);
            line-height: size(48px);
            position  : absolute;
            left      : size(36px);
        }

        .result_header_tit2 {
            font-size       : size(30px);
            height: size(48px);
            line-height: size(48px);
            width           : size(412px);
            background-color: #ff6b6b;
            border-radius   : size(8px);
            color           : #000;
            display         : inline-block;
            position        : absolute;
            left            : 50%;
            top             : 0;
            transform       : translateX(-50%);
        }
    }
}
    .result_img{
        width:size(125px);
        height: size(125px);
        margin-bottom: size(24px);
    }
    .result_correct{
        font-size: size(40px);
        color: #fff;
        -webkit-text-stroke: size(3px) black;
    }
    .result_res{
        color: #000;
        height: size(148px);
        width: size(600px);
        border-top: 4px solid rgba(0,0,0,0.5);
        border-bottom: 4px solid rgba(0,0,0,0.5);
        @include flex-row();
        .result_res_one{
            width: size(300px);
            @include flex-column();
            justify-content: center;
            align-items: center;
            font-size: size(36px);
            .result_font{
                font-size: size(50px);
                color: #fff;
                -webkit-text-stroke: size(3px) black;
            }
        }
    }
    .result_footer{
        .result_footer_endrank{
            margin-left: size(60PX);
        }
        .result_footer_one{
            height: size(120px);
            @include flex-row();
        }
    }
   .result_btn_one {
    color           : #fff;
    font-size       : 13px;
    width           : 343px;
    height          : 44px;
    line-height     : 44px;
    border-radius   : 8px;
    background-color: #f1574f;
    cursor          : pointer;
}
}