.playing {
  height: 100%;
  background-image: url("./assets/bg.png");
}

.playing .playing_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playing .playing_header .playing_tit {
  height: 28px;
  font-size: 15px;
  color: #000000;
  margin-top: 14px;
  margin-bottom: -9px;
}

.playing .playing_content {
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playing .playing_content .playing_con {
  margin-top: -54px;
}

.playing .playing_content .playing_con .playing_con_one {
  margin-bottom: 8px;
  color: #000;
  align-self: center;
}

.playing .playing_content .playing_con .playing_con_one .playing_span1 {
  margin-right: 10px;
}

.playing .playing_footer {
  color: #fff;
  font-size: 13px;
  width: 343px;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  background-color: #f1574f;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
