@function size($px) {
    @return $px / 2;
}

@mixin flex-row {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}

@mixin flex-column {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.erank {
    @include flex-row();
    width: 100%;
    font-family: "PingFangSCRegular";
    display: flex;
    justify-content: flex-end;
    .erank_container {
        @include flex-column();
        width           : size(600px);
        color           : #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: size(8px);
        .erank_header {
            display       : flex;
            flex-direction: row;
            align-items   : center;
            font-size     : size(24px);
            height        : size(44px);
            border-bottom: 1px #cfcfcf solid;
            .erank_header_span1 {
                line-height: size(44px);
                margin-left: size(36px);
                width      : size(290px);
                text-align: left;
            }
            .erank_header_span2{
                width: 36px;
            }
            .erank_header_span3 {
                width      : size(166px);
                margin-right: size(36px);
                text-align: right;
            }

        }

        .erank_con {
            height       : size(478px);
            border-radius: size(8px);

            .erank_con_list {
                width         : size(600px);
                font-size     : size(22px);
                display       : flex;
                flex-direction: row;
                align-items   : center;
                height        : size(50px);
                margin-top    : size(16px);
                margin-bottom : size(16px);
                .list_pre{
                     line-height: size(44px);
 margin-left: size(36px);
 width : size(290px);
 text-align: left;
                .erank_list_index {
                    height     : size(50px);
                    line-height: size(50px);
                    font-size  : size(24px);
                }

                .avatar {
                    margin-left : size(20px);
                    margin-right: size(10px);
                    display     : inline;

                    .ava_img {
                        width        : size(52px);
                        height       : size(52px);
                        border-radius: 50%;
                    }
                }

                .list_name {
                    width        : size(260px);
                    margin-left  : size(12px);
                    text-overflow: ellipsis;
                    white-space  : nowrap;
                    overflow     : hidden;
                    height       : size(32px);
                    line-height  : size(32px);
                    text-align   : left;
                }
            }
                .list_score{
                    width:36px;
                }
                .list_time {
                    width      : size(166px);
                margin-right: size(36px);
                text-align: right;
                }
            }
        }
    }

    .erank_btn {
        width      : size(48px);
        height     : size(48px);
        border     : 0;
        margin-left: size(12px);
        cursor     : pointer;
    }
}