@function size($px) {
    @return $px / 2;
}

.rule{
    color:#fff;
    .rule_title{
        font-size: size(32px);
        margin-bottom: size(30px);
    }
    .rule_content{
        text-align: center;
        font-size: size(24px);
    }
}