@function size($px) {
    @return $px / 2;
}
.hometwo {
    width           : 100%;
    height          : 100%;
    background-image: url(../../assets/images/b1-bg.png);
    background-size: cover;
    color           : #fff;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    flex-direction  : column;

    .hometwo_title {
        height: size(209px);
        width: size(568px);
    }

    .hometwo_p {
        width                : size(688px);
        height               : size(200px);
        background-color: rgba(0,0,0,0.45);
        display              : flex;
        flex-direction: column;
        justify-content      : center;
        align-items          : center;
        .hometwo_p1 {
            font-size : size(30px);
        }

        .hometwo_p2 {
            font-size : size(30px);
            margin-top: size(16px);
            line-height: size(30px);
            .hometwo_time{
                margin-right: 2px;
            }
        }
    }
    .btn_one {
        color           : #fff;
        font-size       : size(26px);
        width           : 343px;
        height          : 44px;
        line-height     : 44px;
        border-radius   : size(8px);
        background-color: #f1574f;
        cursor          : pointer;
        margin-bottom          : size(16px);
    }
}