@function size($px) {
  @return $px / 2;
}

.a1-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: size(16px) 0px;
  background-image: url(./images/a1-bg.png);
  background-size: cover;
}

.a1-container .title-img {
  background-image: url(./images/title.png);
  width: size(568px);
  height: size(209px);
  background-size: cover;
}

.a1-introduce {
  display: flex;
  align-items: center;
  justify-content: center;
  width: size(685px);
  height: size(328px);
  background-image: url(./images/introduce.png);
  background-size: cover;
}


.select-button {
  color: #ffffff;
  width: size(606px);
  height: size(224px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .label-word {
    cursor:default;
    font-size: size(30px);
    line-height: size(48px);
  }
  .select {
    position: relative;
    text-align: center;
    width: size(320px);
    font-size: size(26px);
    height: size(48px);
    line-height: size(48px);
    border-radius: size(24px);
    outline: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0.45) !important;
    color: #ffffff !important;
    .select-icon {
      position: absolute;
      right: size(16px);
      top: size(14px);
    }
  }
}

.select-button .category {
  width: size(472px);
  display: flex; 
  justify-content: space-between;
  outline: none;
}

.select-button .start-time {
  width: size(472px);
  display: flex; 
  justify-content: space-between;
  outline: none;
}
.select-button .word-time {
  width: size(472px);
  display: flex; 
  justify-content: space-between;
  outline: none;
}



.ant-cascader-menus {
  background-color: #474747 !important;
  color: #ffffff !important;
}
.ant-select-dropdown {
  background-color: #474747 !important;
  color: #ffffff !important;
}

.start-button {
  width: size(686px);
  height: size(88px) !important;
  font-size: size(26px) !important;
  border: 0px !important;
  color: #ffffff !important;
  background-color: #f1574f !important;
}

.wordtime-box {
  position: absolute;
  bottom: 0px;
  right: size(67px);
  .select-li{
    &:hover {
      background-color: #ff216a;
    }
  }
}

.time-box {
  position: absolute;
  bottom: size(88px);
  right: size(67px);
  .select-li{
    &:hover {
      background-color: #ffea00;
    }
  }
}

.cascader-box {
  position: absolute;
  bottom: size(176px);
  right: size(67px);
}
.wordtime-tooltip {
  width: size(606px);
  height: size(40px);
  border-radius: size(8px);
  background-color: rgba(0,0,0,0.6);
  font-size: size(24px);
  line-height: size(40px);
  position: absolute;
  bottom: size(55px);
  margin: 0px auto;
}

