@function size($px) {
  @return $px / 2;
}

.a6-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: size(16px) 0px;
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #2b2b2b;
  background-size: cover;
  .a6-title {
    margin-top: size(16px);
    font-size: size(38px);
    color: #000;
  }
  .totalscore-text {
    width: size(652px);
    height: size(379px);
    background-size: cover;
  }
}
.show-text {
  font-family: 'HYLiLiangHeiJ';
  -webkit-text-stroke: size(3px) black;
  font-size: size(48px);
  color: #ffffff;
}

.btn-container {
  width: size(686px);
  margin-top: size(16px);
  height: size(88px) !important;
  font-size: size(26px) !important;
  display: flex;
  justify-content: space-between;

  .again-btn {
    width: size(330px) !important;
    height: size(88px) !important;
    border: 0px !important;
    color: #ffffff !important;
    background-color: #f1574f !important;
  }
  
  .quit-btn {
    width: size(330px) !important;
    height: size(88px) !important;
    border: 1px solid #f1574f !important;
    color: #f1574f !important;
    background-color: #2b2b2b !important;
  }
}

