@function size($px) {
    @return $px / 2;
}

.success {
    width           : 100%;
    height          : 100%;
    background-image: url(../../assets/images/b1-bg.png);
    background-size: cover;
    color           : #fff;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    flex-direction  : column;

    .success_title {
        height: size(209px);
        width: size(568px);
    }

    .success_tick {
        max-width: 52px;
    }

    .success_p1 {
        margin-top: size(40px);
        font-size: size(50px);
        line-height: size(50px);
    }

    .success_p2 {
        margin-top: size(40px);
        font-size: size(28px);
        .success_p2_time{
            margin-right: 2px;
        }
    }


    .success_button {
        width          : 376px;
        margin-bottom  : size(16px);
        display        : flex;
        justify-content: space-around;
        position       : absolute;
        bottom         : 0;

        div {
            line-height: 44px;
            font-size  : 13px;
            cursor     : pointer;
        }

        .success_btn_one {
            width           : size(330px);
            color           : #fff;
            height          : 44px;
            background-color: #f1574f;
            margin-right    : 13px;
            border-radius   : size(8px);
            margin-left     : size(32px);
        }
    }

    .success_btn_two {
        width        : size(330px);
        height       : 44px;
        color        : #f1574f;
        border       : #f1574f solid 1px;
        border-radius: size(8px);
        margin-right : size(32px);
    }
}