.eres {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.eres .eres_tit {
  margin-top: 20px;
}

.eres .eres_img {
  width: 326px;
  height: 189.5px;
  margin-top: -30px;
}

.eres .eres_score {
  font-size: 40px;
}

.eres .eres_res {
  height: 72px;
  width: 300px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eres .eres_res .eres_res_one {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.eres .eres_res .eres_res_one .eres_font {
  font-size: 20px;
  margin-right: 5px;
}

.eres .eres_erank {
  margin-left: 30px;
}

.eres .eres_btn {
  color: #fff;
  font-size: 13px;
  width: 343px;
  height: 44px;
  line-height: 44px;
  border-radius: 8px;
  background-color: #f1574f;
  cursor: pointer;
  margin-bottom: 5px;
}
